.preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 16px;
  background-color: #fff;

  .previews__pic {
    @include set-box-size(50px, 50px, 18px);
    background: $main-color;
  }
}
